.app {
  width: 800px;
  margin: 40px auto;
  text-align: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
}

.slide-enter {
  transform: translateX(-100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: all .5s;
}

.slide-leave {
  transform: translateX(0);
}

.slide-leave.slide-leave-active {
  transform: translateX(100%);
  transition: all .5s;
}
.slide-appear {
  opacity: 0;
}

.slide-appear.slide-appear-active {
  opacity: 1;
  transition: all .5s;
}